@import "tailwindcss";

@theme {
  --color-primary-bg: #0B0814;
  --color-secondary-bg: #1A1325;
  
  --animate-fade-in-up: fade-in-up 0.5s ease-out forwards;
  
  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-[#0B0814] text-indigo-100 antialiased selection:bg-fuchsia-500/30;
}